h2{
    margin: 1% 0% 2% 33%;
    font-size: 100px;
}

.btn{
    margin: 0 0 0 42%;
    width: 250px;
    height: 30px;
    border-radius: 15px;
}

input{
    margin: 0 0 0 36%;
    width: 500px;
    height: 30px;
    border-radius: 12px;
}

.fisrt_part{
    width: 45.5%;
  }

.error{
    margin: 50px 0 0 40%;
    width: 500px;
    height: 30px;
    border-radius: 12px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(22, 20, 24);
    color: #eee;
}

.bg{
    position: fixed;
    top: 50%;
    left: 48%;
    z-index: -1;
    transform: translate(-45%, -25%);
    h1{
        font-size: 2000%;
        filter: opacity(0.5);
        user-select: none;
    }
}
.menu{
    z-index: 1;
    position: flex;
    height: 55px;
    width: 100%;
    background: #373535;
    display:flex;
    align-items:center;
    font-size:1.25rem;
}
.CTF{
    position: flex;
    font-size: 25px;
    margin: 0 0.5%;
    margin-left: 10px;
    height: 10%;
    color: #ffffff;
    background-color: #00000020;
    padding: 0.5%;
    cursor: pointer;
    text-decoration: none;
}